/MVC.Tests/bin/Debug
/MVC.Tests/obj/Debug
/MVC.Tests/obj/Release
/*.suo
/MVC/Properties/PublishProfiles/*.pubxml
/MVC/Properties/PublishProfiles/*.user
/MVC/*.user
/MVC/obj/Debug
/MVC/obj/Release
/_UpgradeReport_Files
/UpgradeLog2.XML
/UpgradeLog3.htm
/UpgradeLog3.XML
/UpgradeLog.htm
/UpgradeLog.XML
/UpgradeLog2.htm
/MVC.Repositories/obj/Debug
/MVC.Data/obj/Release
/MVC/bin/MVC.Data.dll
/MVC/bin/MVC.Data.pdb
/MVC.Data/bin/Debug
/MVC.Data/obj/Debug
/MVC.Data/bin/Release
/MVC/bin/MVC.Tutorial.dll
/MVC/bin/MVC.Tutorial.pdb
/Libraries/Sitecore.Kernel.dll
/Libraries/Sitecore.Mvc.dll
/MVC/bin/Castle.Core.dll
/MVC/bin/Castle.Core.xml
/MVC/bin/Castle.Windsor.dll
/MVC/bin/Castle.Windsor.xml
/Libraries/Sitecore.Kernel.dll
/Libraries/Sitecore.Mvc.dll
/MVC/bin/MVC.dll
/MVC/bin/MVC.pdb
/Libraries/Sitecore.Logging.dll
/MVC/bin/Sitecore.Kernel.dll
/MVC/bin/Sitecore.Logging.dll
/MVC/bin/Sitecore.Mvc.dll
