@model RenderingModel

<div class="row">
    <div class="col-md-12">
        <div class="inner">
            <h1>@Html.Sitecore().Field("Title")</h1>
            @Html.Sitecore().Field("Text")
         </div>
    </div>
</div>