@model MVC.Data.Models.Car

<!-- To set the 'Background' parameter, go into the Page Editor > select 'Design' mode, click on the Featured Car component > 
    click More > click Edit component properties > Scroll down to the 'Parameters' section -->

<div class="highlight" style="background-color: #@Model.Rendering.Parameters["Background"]">
    <h3>This week's featured car</h3>    
    <p><strong>Model:</strong> @Model.Model</p>
    <p><strong>Make:</strong> @Model.Make</p>
</div>
