@model MVC.Data.Models.DriverViewModel

<!-- To set the 'Background' parameter, go into the Page Editor > select 'Design' mode, click on the Featured Driver component > 
    click More > click Edit component properties > Scroll down to the 'Parameters' section -->

<div class="highlight" style="background: #@Model.Background">
    <h3>This week's featured driver</h3>
    <p><strong>Name:</strong> @Model.Driver.Name</p>
    <p><strong>Description:</strong></p> @Model.Driver.Text
</div>